@using BreweryService.Models
@using BreweryWebApp.ViewComponents

@model List<Order>


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Client</th>
            <th>Beer</th>
            <th>Amount</th>
            <th>Retail price</th>
            <th>Discount</th>
            <th>Income</th>
        </tr>
    </thead>

    @foreach (var o in Model)
    {
       
            <tr>
                <td>@o.Date</td>
                <td>@o.ClientId</td>
                <td>@o.BeerId</td>
                <td>@o.Amount</td>
                <td>@o.Price &dollar;</td>
                <td>@o.Discount %</td>
                <td>@o.TotalPrice &dollar;</td>
                
            </tr>
        

    }

</table>

   
