@using BreweryService.Models
@using BreweryWebApp.ViewComponents

@model IEnumerable<Beer>


<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Production cost / bottle</th>
            <th>Price / bottle</th>
            <th>Current amount</th>
            <th>Daily production</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var beer in Model)
    {
        if (beer.InProduction)
        {
            <tr>
                <td>@beer.Id. <a href="#" id="beer@(beer.Id)" data-type="text" data-pk="1" data-name="beertype" data-url="post.php" data-original-title="Enter beer tyype">@beer.Type</a></td>
                <td>@beer.Cost &dollar;</td>
                <td><u>@beer.Price &dollar;</u></td>
                <td>@beer.Amount</td>
                <td>@beer.ProductionDaily</td>
                <td><div class="btn-group-sm">
                    <button type="button" class="btn btn-primary">edit</button>
                    <button type="button" class="btn btn-default">remove</button>
                </div></td>
            </tr>
        }

    }

</table>

   
