@using BreweryService.Models
@using BreweryWebApp.ViewComponents

@model Client

@{
   
    var orders = await ClientList.GetOrdersAsync((int)Model.Id);
  
}




<label>Name:</label><input type="text" value="@Model.Name" />
<label>Key:</label><input type="text" value="@Model.Key" disabled="disabled" />
<label>Personal discounts:</label> @Model.Discounts.Per100%/100, @Model.Discounts.Per250%/250, @Model.Discounts.Per500%/500, @Model.Discounts.Per1000%/1000
<label>Orders' data:</label>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Orders amount (2)</th>
            <th>Sum of ordered bottles (3)</th>
            <th>Av. order size (4=3/2)</th>
            <th>Av income / bottle (5)</th>
            <th>Whole income (6=3*5)</th>
        </tr>
    </thead>

    @foreach (var t in @orders.GetTypes())
    {
      
            <tr>
                <td>@t</td>
                <td>@orders.getOrdersAmount(@t)</td>
                <td>@orders.getSumOfBottles(@t)</td>
                <td>@orders.getAvOrderSize(@t)</td>
                <td>@orders.getAvIncomeBottle(@t)</td>
                <td>@orders.getIncome(@t)</td>
  

            </tr>
        
    }

</table>




<label>Sale statistics (refreshed daily):</label>


<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>In stock</th>
            <th>Av. daily sale</th>
            <th>Sold yesterday</th>
            <th>Sold in last 7 days</th>
            <th>Sold in last 28 days</th>
            <th>Sold in total</th>
        </tr>
    </thead>

  
            <tr>
                <td>has to be taken from outside services</td>
                <td>o</td>
                <td>s</td>
                <td>a</td>
                <td> $</td>
                <td> $</td>
                <td> $</td>

            </tr>
      

</table>

   
