@using BreweryService.Models
@using BreweryWebApp.ViewComponents

@model IEnumerable<Beer>


<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Production cost / bottle</th>
            <th>Price / bottle</th>
            <th>Current amount</th>
            <th>Daily production</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var beer in Model)
    {
        if (beer.InProduction)
        {
            <tr> <!--editable fields of beer types:-->
                <td>@beer.Id. <a href="#" data-pk="@(beer.Id)" data-type="text" class="editable" 
                                 data-name="Type"       
                                 data-url="Home/UpdateBeer" 
                                 data-original-title="Beer type">@beer.Type</a></td>

                <td>          <a href="#" data-pk="@(beer.Id)" data-type="text" class="editable" data-inputclass="span1"
                                 data-name="Cost"       
                                 data-url="Home/UpdateBeer" 
                                 data-original-title="Cost of production per bottle">@beer.Cost</a> &dollar;</td>

                <td>          <a href="#" data-pk="@(beer.Id)" data-type="text" class="editable" data-inputclass="span1"
                                 data-name="Price"      
                                 data-url="Home/UpdateBeer" 
                                 data-original-title="Whole sale price per bottle">@beer.Price</a> &dollar;</td>

                <td>@beer.Amount</td>

                <td>          <a href="#" data-pk="@(beer.Id)" data-type="text" class="editable"
                                 data-name="ProductionDaily" 
                                 data-url="Home/UpdateBeer" 
                                 data-original-title="Daily production in bottles">@beer.ProductionDaily</a></td>

              <!--  <td><div class="btn-group-sm">
                    <button type="button" class="btn btn-primary">edit</button>
                    <button type="button" class="btn btn-default">remove</button>
                </div></td> -->
            </tr>
        }

    }

</table>

   
